<p>{{ title }}</p>

<table class="table">
  <thead>
    <tr>
      <th *ngFor="let h of headersTable">{{ h }}</th>
    </tr>
  </thead>

  <tbody class="table-group-divider">
    <tr>
      <th>{{saldo}}</th>
      <th>{{statusNow}}</th>
    </tr>
  </tbody>

</table>

<div *ngIf="this.saldo < 0" class="alert alert-danger" role="alert">
  El saldo no puede ser negativo, debe ser mayor o igual a cero
</div>

<button class="btn btn-outline-success" (click)="aumentarSaldo()">Aumentar</button>
<button class="btn btn-outline-secondary" (click)="disminuirSaldo()">Disminuir</button>

<button class="btn btn-outline-danger" (click)="cambiarEstado()">Estado</button>
